body {
    margin: 16px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 100px;
}

.youtube {
    position: relative;
    padding-bottom: 24px;
}

/* header */
header {
    height: 56px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--white-color);
    z-index: 3;
}

.nav-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.mobile-search-back {
    height: 48px;
    width: 48px;
    text-align: center;
    display: none;
}

.mobile-search-back i{
    font-size: 1.8rem;
    color: #030303;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-horizontal__menu {
    display: flex;
    align-items: center;
    height: 56px;
    width: 169px;
}

.nav-horizontal__logo {
    position: relative;
    left: -8px;
    -webkit-tap-highlight-color: transparent;
}   

.nav-horizontal__logo-img {
    height: 64px;
}

.nav-horizontal__search {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 56px;
    width: 728px;
}

.nav-horizontal__search-box {
    display: flex;
    align-items: center;
    width: 604px;
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid #ccc;
    border-radius: 50px;
    position: relative;
}

.nav-horizontal__search-input {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-horizontal__search-input-spt {
    height: 24px;
    width: 492px;
    font-size: 1.6rem;
    color: var(--text-color);
    outline: none;
    border: none;
    margin-left: 16px;
    flex: 1;
}

.nav-horizontal__search-input-keyboard {
    margin-right: 12px;
    cursor: pointer;
    font-size: 1.6rem;
    color: #656565;
}

.nav-horizontal__search-input-keyboard:hover {
    color: #030303;
}

.nav-horizontal__search-btn {
    width: 64px;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.nav-horizontal__search-btn i {
    font-size: 1.8rem;
}
.nav-horizontal__search-btn:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.nav-horizontal__search-history {
    position: absolute;
    width: 100%;
    top: calc(100% + 10px);
    left: 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 16px 0;
    border-radius: 8px;
    display: none;
    z-index: 1;
}

.nav-horizontal__search-history-list {
    list-style: none;
    padding: 0;
}

.nav-horizontal__search-history-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 8px 16px;
}

.nav-horizontal__search-history-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.nav-horizontal__search-history-item-link {
    font-size: 1.6rem;
    font-weight: 540;
}

.nav-horizontal__search-history-item-link i {
    margin-right: 10px;
}

.nav-horizontal__search-history-item-remove {
    font-size: 1.2rem;
    text-decoration: none;
}

.nav-horizontal__search-history-item-remove:hover {
    text-decoration: underline ;
}


.nav-horizontal__search-mic {
    margin-left: 8px;
}

.nav-horizontal__search-input:focus-within .nav-horizontal__search-history {
    display: block;
}

.nav-horizontal__tool {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 225px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.btn-mobile-search {
    display: none !important;
}

.btn-mobile-search i {
    font-size: 1.8rem;
}

.nav-horizontal__tool-craeat:focus-within .nav-horizontal__tool-craeat-modal {
    display: block;
}

.nav-horizontal__tool-craeat-modal {
    position: absolute;
    top: 100%;
    left: 74px;
    width: 172px;
    padding: 0;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 99;
    transform-origin: left top;
    animation: ease openmodal 0.2s;
    will-change: opacity, transform;
}
.nav-horizontal__tool-craeat-modal-list {
    padding: 8px 0;
}

.nav-horizontal__tool-craeat-modal-item {
    list-style: none;
    font-size: 1.4rem;
    text-align: left;
}

.nav-horizontal__tool-craeat-modal-item-link {
    text-decoration: none;
    color: #030303;
    padding: 12px 0;
    display: block;
}

.nav-horizontal__tool-craeat-modal-item:hover {
    background-color: #f2f2f2;
}

.nav-horizontal__tool-craeat-modal-item i {
    font-size: 1.6rem;
    margin: 0 16px ;
}

.nav-horizontal__tool-notify {
    margin-left: 6px;
    -webkit-tap-highlight-color: transparent;
}

.nav-horizontal__tool-notify:focus-within .nav-horizontal__tool-notify-modal {
    display: block;
}

.nav-horizontal__tool-notify-modal {
    position: absolute;
    background-color: var(--white-color);
    top: 100%;
    right: 64px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 480px;
    border-radius: 8px;
    display: none;
    z-index: 2023;
    transform-origin: calc(100% - 2px) top;
    animation: ease openmodal 0.2s;
    will-change: opacity, transform;
}

.nav-horizontal__tool-notify-modal-heading {
    display: flex;
    justify-content: space-between;
    height: 49px;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.nav-horizontal__tool-notify-modal-heading span {
    font-size: 1.8rem;
    font-weight: 300;
}

.nav-horizontal__tool-notify-modal-heading i {
    font-size: 1.8rem;
}

.nav-horizontal__tool-notify-modal-body {
    height: 574px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-horizontal__tool-notify-modal-body i{
    font-size: 12rem;
    color: #e5e5e5;
    margin-bottom: 20px;
}   

.nav-horizontal__tool-notify-modal-body h3 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #646464;
    margin-bottom: 8px;
}

.nav-horizontal__tool-notify-modal-body p{
    font-size: 1.4rem;
    color: var(--text-color);
    width: 256px;
    line-height: 1.9rem;
}

.nav-horizontal__tool-user {
    margin: 0 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.nav-horizontal__tool-user-img {
    width: 32px;
    border-radius: 50%;
}

.nav-horizontal__tool-user-checkbox:checked ~ .nav-horizontal__tool-user-modal {
    display: block;
}

.nav-horizontal__tool-user-modal {
    position: absolute;
    background-color: var(--white-color);
    top: 100%;
    right: 4px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    transform-origin: calc(100% - 2px) top;
    animation: ease openmodal 0.2s;
    will-change: opacity, transform;
}

.nav-horizontal__tool-user-modal-heading {
    padding: 16px;
    display: flex;
}

.nav-horizontal__tool-user-modal-heading img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    cursor: default;
}

.nav-horizontal__tool-user-modal-headingbox {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.nav-horizontal__tool-user-modal-headingbox span {
    cursor: auto;
}

.nav-horizontal__tool-user-modal-account {
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    color: #186ad7;
    margin-top: 4px;
}

.nav-horizontal__tool-user-modal-list {
    list-style: none;
    padding: 0;
    margin: 8px 0;
}

.nav-horizontal__tool-user-modal-item {
    height: 42px;
}

.nav-horizontal__tool-user-modal-item .flex-end {
    position: absolute;
    right: 0;
}

.nav-horizontal__tool-user-modal-item-link {
    display: flex;
    text-decoration: none;
    padding: 12px 0 12px 18px;
}

.nav-horizontal__tool-user-modal-item-link:hover {
    background-color: #f2f2f2;
}

.nav-horizontal__tool-user-modal-item-link {
    display: flex;
    text-decoration: none;
}

.nav-horizontal__tool-user-modal-item-link i {
    font-size: 1.8rem;
    margin-right: 16px;
    color: #030303;
}

.nav-horizontal__tool-user-modal-disable {
    border-top: 1px solid #e5e5e5;
}

.nav-horizontal__tool-user-modal-item-link span {
    font-size: 1.4rem;
    color: #030303;
}

/* Navbar */
.navbar {
    position: fixed;
    left: 0;
    top: 56px;
    width: 240px;
    height: 902px;
    overflow-y: auto;
}

.navbar::-webkit-scrollbar {
    width: 8px;
}

.navbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.navbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 100px;
    display: none;
}

.navbar-list {
    list-style: none;
    padding: 10px 0;
    margin-left: 14px;
}

.navbar-list h3 {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 10px 0 8px 0;
}

.navbar-item {
    border-radius: 10px;
}

.navbar-item-link {
    text-decoration: none;
    color: #030303;
    padding: 10px 0 10px 16px;
    display: flex;
    align-items: center;
}

.navbar-list:first-child .navbar-item:first-child {
    background-color: #f2f2f2;
}

.navbar-list:first-child .navbar-item:first-child:hover {
    background-color: #e5e5e5;
}

.navbar-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.navbar-item i {
    font-size: 1.8rem;
    color: #030303;
    margin-right: 22px;
}

.navbar-item img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 22px;
}

.navbar-item-link span {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-link {
    padding: 16px 24px 0 24px;
}

.navbar-link a {
    font-size: 1.2rem;
    font-weight: 550;
    color: #606069;
    text-decoration: none;
    margin-right: 8px;
    white-space: nowrap;
}

.navbar-link a:nth-child(3) {
    margin-right: 0;
}

.navbar-footer {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 16px 24px 32px;
}

/* container */
.container {
    margin-top: var(--height-header) ;
    z-index: 1;
    display: block;
}

.container-header {
    display: block  ;
    height: 56px;
    width: 100%;
    position: fixed;
    background-color: var(--white-color);
    top: 56px;
    left: 240px;
    padding-left: 32px;
    z-index: 1;
}

.container__header-btn  {
    display: flex;
    margin-top: 10px;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
}

.container__header-btn::-webkit-scrollbar {
    display: none;
}

.container__header-btn .btn:first-child {
    background-color: #030303;
    color: var(--white-color);
}

/* home product */
.home-product {
    margin: 0 72px;
    padding-top: 80px;
    border-bottom: 4px solid #e5e5e5;
}

.home-product-item {
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    position: relative;
    padding-bottom: 42px;
    -webkit-tap-highlight-color: transparent;
}

.home-product-item-img {
    display: block;
    padding-top: 56%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}   

.home-product-item-img:hover .home-product-item-play{
    display: block;
}

.home-product-item-play {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    text-align: center;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.home-product-phay-action {
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-product-item-icon {
    color: 2rem;
    margin-right: 8px;
}

.home-product-phay-action span {
    font-size: 1.4rem;
    font-weight: 500;
}

.home-product-item-img:hover {
    background-color: #030303;
}

.home-product-itembox {
    display: flex;
    margin-top: 16px;
    cursor: pointer;
}

.home-product-itembox-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.home-product-itembox-child {
    padding-right: 24px;
    
}

.home-product-item-name {
    color: #030303;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 550;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item-channel {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    color: #606060;
    height: 2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-product-item-origin {
    font-size: 1.4rem; 
    color: #606060;
    line-height: 2rem;
}

.home-product-item-origin span {
    white-space: nowrap;
}

.home-product-item-origin span:last-child {
    position: relative;
    padding-left: 10px;
}

.home-product-item-origin span:last-child::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 3px;
    left: 2px;
    top: 6px;
    background-color: #606060;
    border-radius: 50%;
}


/* Home Prodcut Reels */
.home-product-reel {
    background-color: var(--white-color);
    border-bottom: 4px solid #e5e5e5;
    margin: 0 72px;
}

.home-product-reel-heading {
    margin: 24px 0 24px 8px;
    height: 40px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-product-reel-heading-logo {
    display: flex;
    align-items: center;
}

.home-product-reel-heading-logo img {
    height: 22px;
    margin-right: 10px;
}

.home-product-reel-heading-logo span {
    font-size: 2rem;
    font-weight: 500;
}

.home-product-reel-heading-icon {
    font-size: 2.2rem;
    -webkit-tap-highlight-color: transparent;
}

.home-product-reel-item {
    cursor: pointer;
    text-decoration: none;
    padding-bottom: 12px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.home-product-reel-item-img {
    padding-top: 176%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.home-product-reel-item-box {
    margin: 12px 24px 0 0;
}

.home-product-reel-item-name {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #060606;
    margin-bottom: 4px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-reel-item-view {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #606060;
}

.home-product-reel-show {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 2px 0;
    border-radius: 2px;
}

.home-product-reel-show:hover {
    background-color: #f2f2f2;
}

.home-product-reel-show i {
    font-size: 1.6rem;
    color: #606060;
}

/* navbar tablet */
.navbar-child {
    position: fixed;
    top: var(--height-header);
    bottom: 0;
    left: 9px;
    width: 64px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.navbar-child-item {
    height: 48px;
    width: 64px;
    margin: 16px 0 14px 0;
}

.footer__item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
}

.footer__item-link:hover {
    background-color: #f2f2f2;
}

.footer__item-link i {
    font-size: 1.6rem;
    color: #030303;
}

.footer__item-link-name {
    font-size: 1rem !important;
    color: #030303;
}

.navbar-father {
    position: fixed;
    background-color: var(--white-color);
    left: 0;
    top: var(--height-header);
    width: 240px;
    height: 95%;
    overflow-y: auto;
    display: none;
    animation: ease opennav 0.3s;
    will-change: transform;
}

.navbar-father::-webkit-scrollbar {
    display: none;
}

.nav-checkbox:checked ~ .navbar-father {
    display: block;
}


/* mobile footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height-mobile-footer);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
}

.foote__item {
    height: 48px;
    flex: 1;
}

.footer__item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 48px;
    -webkit-tap-highlight-color: transparent;
}

.footer__item-link:hover {
    background-color: #f2f2f2;
}

.footer__item-link i  {
    font-size: 2rem;
    color: #030303;
    margin-top: 2px;
}

.footer__item-link span {
    font-size: 1.2rem;
    color: #030303;
    margin-top: 4px;
}
